@using Microsoft.AspNetCore.Http
@using _29_PhamThiNgocMai_Assignment3.Controllers
@model _29_PhamThiNgocMai_Assignment3.Models.Post
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
    int? userId = @HttpContextAccessor.HttpContext?.Session.GetInt32(AuthenController.SessionUserId);
}

<h1>Create</h1>

<h4>Post</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Author" class="control-label"></label>
                @* <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select> *@
                <input asp-for="AuthorId" value="@userId" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control"/>
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control"/>
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishStatus" class="control-label"></label>
                <input asp-for="PublishStatus" class="form-control"/>
                <span asp-validation-for="PublishStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}